
@{
    ViewBag.Title = "LoginManagement";
    Layout = "~/Views/Shared/_LayoutLogin.cshtml";
}

<h2>Login Management</h2>



@*<button type="submit" class="btn btn-primary btn-block btn-lg shadow-lg mt-5">
    Trainer
    
</button>*@
<a href="@Url.Action("LoginProcess", "Home", new { id = "Trainer"})">Trainer</a>
@*<button type="submit" class="btn btn-primary btn-block btn-lg shadow-lg mt-5">
    Trainee 
    <a href="@Url.Action("LoginProcess", "Home", new { id = "Trainee" })"></a>
</button>*@
<a href="@Url.Action("LoginProcess", "Home", new { id = "Trainee" })"></a>
@*<button type="submit" class="btn btn-primary btn-block btn-lg shadow-lg mt-5">
    Staff
    <a href="@Url.Action("LoginProcess", "Home", new { id = "Staff"})></a>
</button>*@
<a href="@Url.Action("LoginProcess", "Home", new { id = "Staff"})">Staff</a>
