@model IEnumerable<WebDemo2.Models.Trainee_Course>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

    <div class="card shadow mb-4">
        <div class="card-header py-3">
            <h1 class="m-0 font-weight-bold text-primary">Trainee Course</h1>
        </div>
        @if (HttpContext.Current.Session["Admin"] != null && HttpContext.Current.Session["Admin"].ToString() != "1")
        {
            <div class="card-header py-2">
                <p>
                    @Html.ActionLink("Create New", "Create")
                </p>
            </div>
        }
            <div class="card-body">
                <div class="table-responsive">
                    <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                        <thead>
                            <tr>
                                <th>
                                    @Html.DisplayNameFor(model => model.No)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.Course_ID)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.Trainee_ID)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.Trainee_Name)
                                </th>
                                @if (HttpContext.Current.Session["Admin"] != null && HttpContext.Current.Session["Admin"].ToString() != "1")
                                {
                                    <th></th>
                                }
                                </tr>
                        </thead>
                        <tfoot>
                            <tr>
                                <th>
                                    @Html.DisplayNameFor(model => model.No)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.Course_ID)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.Trainee_ID)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.Trainee_Name)
                                </th>
                                @if (HttpContext.Current.Session["Admin"] != null && HttpContext.Current.Session["Admin"].ToString() != "1")
                                {
                                    <th></th>
                                }
                                </tr>
                        </tfoot>
                        <tbody>
                            @foreach (var item in Model)
                            {
                            <tr>
                                <td>
                                    @Html.DisplayFor(modelItem => item.No)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Course_ID)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Trainee_ID)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Trainee_Name)
                                </td>
                                @if (HttpContext.Current.Session["Admin"] != null && HttpContext.Current.Session["Admin"].ToString() != "1")
                                {
                                    <td>
                                        @Html.ActionLink("Edit", "Edit", new { id = item.No }) |
                                        @Html.ActionLink("Delete", "Delete", new { id = item.No }, new { onclick = "return confirm('Are you sure to delete?');" })
                                    </td>
                                }
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
