@model IEnumerable<WebDemo2.Models.Staff>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>
<p>
    @Html.ActionLink("Create New", "Create")
</p>

<table class="table table-striped" id="table1">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Staff_ID)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Staff_Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Email)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Age)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Address)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Password)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Admin)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Staff_ID)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Staff_Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Email)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Age)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Address)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Password)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Admin)
                </td>
                <td>
                    @Html.ActionLink("Edit", "Edit", new { id = item.Staff_ID }) |
                    @Html.ActionLink("Delete", "Delete", new { id = item.Staff_ID }, new { onclick = "return confirm('Are you sure you wish to delete this cat?');" })
                </td>
            </tr>
        }
    </tbody>
</table>

