@model IEnumerable<WebDemo2.Models.Topic>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div class="card shadow mb-4">
    <div class="card-header py-3">
        <h1 class="m-0 font-weight-bold text-primary">Topic</h1>
    </div>
    <div class="card-header py-3">
        @Html.ActionLink("Create New", "Create")
    </div>
    <div class="card-body">
        <div class="table-responsive">
            <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                <thead>
                    <tr>
                        <th>
                            @Html.DisplayNameFor(model => model.Topic_ID)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.Topic_Name)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.Course_ID)
                        </th>
                        <th></th>
                    </tr>
                </thead>
                <tfoot>
                    <tr>
                        <th>
                            @Html.DisplayNameFor(model => model.Topic_ID)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.Topic_Name)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.Course_ID)
                        </th>
                        <th></th>
                    </tr>
                </tfoot>
                <tbody>
                    @foreach (var item in Model)
                    {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.Topic_ID)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Topic_Name)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Course_ID)
                        </td>
                        <td>
                            @Html.ActionLink("Edit", "Edit", new { id = item.Topic_ID }) |
                            @Html.ActionLink("Delete", "Delete", new { id = item.Topic_ID }, new { onclick = "return confirm('Are you sure to delete?');" })
                        </td>
                    </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>
